<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Post</strong>
  <% if @user.microposts.nil? then %>
	<span>there are no posts</span>
  <% else %>
	<span>this is post<br></span>
  	<span><% @user.microposts.first.content %></span>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
